dump.zip
dump_20241104.zip
bigresponse.json
bigresponse_20241102.json
BL_DB_3_17s.bacpac
.ipynb_checkpoints
*.bacpac
BiRating.synctex.gz
export.json
BiRating.aux
BiRating.bbl
BiRating.blg
BiRating.log
BiRating.out
BiRating.toc
